@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
.rubik {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}
#title{
    text-align: center;
    
}
#numOfPlayer{
    text-align: center;
}
#nameOfPlayer{
    text-align: center;
}
body, html{
    margin: 0;
    height: 100%;
    width: 100%;
}
#board{
    height: 100%;
    width: 100%;
    background-color: black;
    align-content: center;
}
#spaces{
    display: flex;
    justify-content: center;
    height: 75%;
    width: 95%; 
    background-color: green;
    margin: auto;
    padding: 2%;
}
.space{
    text-align: center;
    font-size: 40px;
    height: 95%;
    width: 11%;
    margin: auto 1%;
    background-color: white;
    float: left;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    transition-duration: 0.5s;
}
.space:hover{
    background-color: grey;
}
#betting{
    display: none;
    position: fixed;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#betting form{
    height: 100%;
}
#betting p{
    width: auto;
    margin: 0;
}
#close{
    float: right;
    height: 30px;
    width: 30px;
    border-radius: 10px;
}
#close:hover{
    background-color: grey;
}